addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiokafka==0.12.0
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.9.0
apple-bolt==4.12.0
apple-caldav==2.4.4
apple-certifi==2.3.2
apple-dino-detr==0.3.0+cpu
apple-endor-sdk==2.28.0
apple-interlinked==1.1.112
apple-sync-boto3==1.40.8
AppleDirectory==0.14.0
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
async-generator==1.10
async-lru==2.0.5
async-timeout==5.0.1
atlassian-python-api==4.0.4
attrs==25.3.0
babel==2.17.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
boltproto==2.101.0
boto3==1.40.8
botocore==1.40.8
boxsdk==3.14.0
cachetools==6.1.0
capsule-serving==1.0.10
Cerberus==1.3.7
click==8.2.1
cloudpickle==3.1.1
coloredlogs==15.0.1
contourpy==1.3.3
cryptography==44.0.3
cycler==0.12.1
Cython==3.1.3
defusedxml==0.7.1
Deprecated==1.2.18
distlib==0.3.9
docutils==0.21.2
dpath==2.2.0
fastapi==0.115.13
fastapi_camelcase==2.0.0
fastjsonschema==2.21.2
ffmpy==0.6.1
filelock==3.18.0
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.2.10
fonttools==4.59.0
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.7.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.45
gradio==5.41.1
gradio_client==1.11.0
groovy==0.1.2
grpcio==1.73.0
grpclib==0.4.8
gunicorn==23.0.0
h11==0.16.0
hf-xet==1.1.7
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.3
humanfriendly==10.0
icalendar==4.1.1
ImageHash==4.3.2
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
json5==0.12.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
ldap3==2.9.1
lxml==5.4.0
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
matplotlib==3.10.5
mdurl==0.1.2
mistune==3.1.3
mltu==1.2.5
modal==1.1.1
mpmath==1.3.0
multidict==6.5.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndg-httpsclient==0.5.1
networkx==3.5
notary-client==3.18.0
notebook==7.4.5
notebook_shim==0.2.4
numpy==2.2.6
oauthlib==3.3.1
onnx==1.18.0
onnxruntime==1.22.1
openai==1.86.0
opencv-python==4.12.0.88
orjson==3.11.1
overrides==7.7.0
pandas==2.3.1
pandocfilters==1.5.1
panoptic==0.5.5
paramiko==3.5.1
pendulum==3.1.0
pillow==11.3.0
portalocker==2.10.1
prometheus_client==0.22.1
prometheus_flask_exporter==0.23.2
propcache==0.3.2
protobuf==4.25.8
psycopg2-binary==2.9.10
pyasn1==0.4.8
pycocotools==2.0.7
pydantic==2.11.5
pydantic_core==2.33.2
pydub==0.25.1
pyhumps==3.8.0
PyJWT==2.10.1
pymediainfo==7.0.1
PyNaCl==1.5.0
pyOpenSSL==24.3.0
pyotp==2.9.0
pyparsing==3.2.3
PyPika==0.48.9
python-dotenv==0.21.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2022.7.1
PyWavelets==1.9.0
pyxdg==0.28
PyYAML==6.0.2
qdrant-client==1.14.2
qqdm==0.0.7
radarclient==12.17
recertifi==1.2.0
referencing==0.36.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
rpds-py==0.27.0
ruff==0.12.8
s3transfer==0.13.1
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.1
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==78.1.0
shellingham==1.5.4
show-in-file-manager==1.1.5
sigtools==4.0.1
slack_bolt==1.23.0
slack_sdk==3.35.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sqlmodel==0.0.24
starlette==0.46.2
strictyaml==1.7.3
submitit==1.5.3
supervision==0.26.1
sympy==1.14.0
synchronicity==0.10.2
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
timm==1.0.17
tinycss2==1.4.0
toml==0.10.2
tomlkit==0.13.3
torch==2.4.1
torchvision==0.19.1
turi-molecule==0.5.0
turibolt-py-blobby-client==2.2.0
typer==0.16.0
types-certifi==2021.10.8.3
types-python-dateutil==2.9.0.20250809
types-toml==0.10.8.20240310
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uri-template==1.3.0
urllib3==1.26.20
uv==0.6.11
uvicorn==0.34.3
virtualenv==20.31.2
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.1.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
yapf==0.43.0
yarl==1.20.1
zstandard==0.23.0
